/*FOOTER STYLING*/
#footer
{
    background-color: $headerColour;
    left:0;
    right:0;
    bottom:0;
    border-top: 2px solid $borderColour;
    text-align: center;
    position: absolute;
    margin-bottom:-4em;

    p
    {
        padding-top:0.5em;
        color:$headingColour;
    }
}
