/*HEADER AND NAV STYLING*/
header {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: #86745C;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  color: black;
  font-weight: bold;
}

#nav {
  background-color: #BFA677;
  border-radius: 0 0 2em 2em;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: auto;
  margin-top: 3.45em;
  width: 50%;
}

#nav nav ul {
  text-align: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#nav nav ul li {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}

/*BODY AND DIV STYLING*/
body {
  background-color: #f3deb7;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

#contentWrap {
  position: relative;
  min-height: 100vh;
}

.container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: #E5C78F;
  border: 2px solid black;
  border-top: none;
  margin-top: 3em;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 3em;
}

.container h2 {
  background-color: #86745C;
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
  border-top: 2px solid black;
  font-weight: bold;
}

form {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

.subProfile {
  display: inline-block;
  width: 20%;
  border-right: 2px solid black;
  text-align: center;
  border-top: 2px solid black;
}

.subProfile .ProfileP {
  margin-top: -1em;
}

.subProfile img {
  margin-top: 1em;
  width: 100px;
  height: 100px;
}

.subContent {
  display: block;
  width: 80%;
  float: right;
  height: 12em;
  border-top: 2px solid black;
  margin-bottom: -1em;
}

.subContent p {
  padding-left: 1em;
  padding-right: 1em;
}

.subContent h5 {
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold;
  width: 100%;
}

.subContent #replyButtons {
  margin-top: 0;
}

.subContent #replyButtons button {
  font-size: 1em;
}

#userProfile {
  display: block;
  width: 100%;
  height: 8.5em;
  border-top: 2px solid black;
  padding-top: 1em;
  padding-left: 1em;
  text-align: center;
}

#userProfile img {
  float: left;
}

#userProfile button {
  margin-top: -0.45em;
  font-size: 0.7em;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
}

a {
  color: #29407c;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

/*BUTTONS STYLING*/
.topButtons {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: -3em;
  width: 1000px;
  padding-right: 0;
  padding-left: 0;
}

.topButtons button {
  border-radius: 0;
  border: 2px solid black;
  border-bottom: 0;
  border-collapse: collapse;
  margin-right: -0.31em;
}

.buttons {
  float: right;
  margin-top: -0.25em;
  padding-bottom: 0.3em;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.buttons button {
  float: right;
  border-radius: 0;
  font-size: 0.84em;
  border-left: 1px solid black;
}

.buttonsDiv {
  width: 9.8%;
  float: right;
  margin-top: -0.5em;
  padding-left: -1em;
}

.buttonsDiv button {
  float: right;
  border-radius: 0;
  font-size: 0.8em;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

/*FOOTER STYLING*/
#footer {
  background-color: #86745C;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid black;
  text-align: center;
  position: absolute;
  margin-bottom: -4em;
}

#footer p {
  padding-top: 0.5em;
  color: black;
}
/*# sourceMappingURL=main.css.map */